<div class="sign_form">

<h1>signup</h1>
<br>
	<div id="form_text">
	<form action="/users" method="post">
		<label for="username">Username:</label>
		<input type="text" name="user[username]" id="username">

		<label for="email">Email:</label>
		<input type="email" name="user[email]" id="email">

		<label for="password">Password:</label>
		<input type="password" name="user[password]" id="password">

		<input type="submit" name="Create your account">
	</form>
	</div>
</div>