<p class="bigquestion">Would you like to create:<p>

<p class="title">A smurf</p>
 <a href="/male_avatars/new"><img src="/images/male.png" alt="a smurf"></a>


<p class="title">A smurfette</p>
<a href="female_avatars/new"><img src="/images/female.png" alt="a smurfette"></a>  

