Would you like to:

<p class="title">A smurf</p>
 <a href="/male_avatars/new"><img src="/images/male.png" alt="a smurf"></a>


<p class="title">Create a smurfette</p>
<a href="female_avatars/new"><img src="/images/female.png" alt="a smurfette"></a>  

