display the index, asking to create a smurf or a smurfette

<img src="../assets/images/male.png" alt="a smurf">
<!-- <h2 href="/avatars/new/male">Create a smurf</h2>
-->
<!-- <img src="/../app/assets/images/female.png">
<h2 href="/avatars/new/female">Create a smurfette/<h2>  -->

