Would you like to create:

<p class="title">A smurf</p>
<img src="/images/male.png" alt="a smurf">
 <h2 href="/avatars/new/male">Create a smurf</h2>


<p class="title">or a smurfette</p>
<img src="/images/female.png" alt="a smurfette">
<h2 href="/avatars/new/female">Create a smurfette/<h2>  

