

<div class="sign">
		<p><a href="/users/new">sign up </a> ||||| <a href="/login">sign in </a></p>
</div>


<div id="welcome">
<img src="/images/buble.png" alt="cartoon bubble" id="bubble">
</div>


