<!doctype html>
<html>
  <head>
    <title>Smurf Avatar Generator</title>
   <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body link="#C0C0C0" vlink="#1AC5FB" alink="#1AC5FB">

    <div class="container">
     
      
      <%= yield %>
     
    </div>

  </body>
</html>
