<!doctype html>
<html>
  <head>
    <title>Smurf Avatar Generator</title>
   <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <div class="container">
      <img src="/images/bar.png" alt="navigation bar" id="navbar">
      
      <%= yield %>
     
    </div>

  </body>
</html>
