<!doctype html>
<html>
  <head>
    <title>Smurf Avatar Generator</title>
   
  </head>
  <body>

    <div class="container">
      <h1>the layout will give the navigation bar, the background, and other static features</h1>

  	  

      <%= yield %>

    </div>

  </body>
</html>
