<div class="sign_form">

<h1>Login</h1>
<br>
<div class="form_text">
<form action="/login" method="post">

	<label for="email">Email:</label>
	<input type="email" name="user[email]" id="email" value="">
	<br><br>
	<label for="password">Password:</label>
	<input type="password" name="user[password]" id="password" value="">

	<input type="submit" name="Log in">
</form>
</div>

</div>