<!-- navigation bar for the login page-->
<div class="navbar">
	<div><a href="/">Home</a> || <a href="/users/new">sign up </a></div>
</div>

<!-- login form -->
<div class="sign_form">

<h1>Sign in</h1>
<br>
	<div class="form_text">
	<form action="/login" method="post">

		<label for="email">Email:</label>
		<input type="email" name="user[email]" id="email">
		<br><br>
		<label for="password">Password:</label>
		<input type="password" name="user[password]" id="password">

		<input type="submit" name="Log in">
	</form>
	</div>

</div>